@{ Layout = "_Layout"; }

<section class="hero-area ">
	<div class="shapes">
		<img src="assets/images/hero/05.svg" class="shape1" alt="#">
		<img src="assets/images/hero/01.svg" class="shape2" alt="#">
	</div>
	<div class="hero-slider">
		<!-- Start Single Slider -->
		<div class="single-slider">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<div class="hero-text">
							<!-- Start Hero Text -->
							<div class="section-heading">
								<h2 class="wow fadeInLeft" data-wow-delay=".3s">
									Tìm bác sĩ & <br> Đặt lịch hẹn
								</h2>
								<p class="wow fadeInLeft" data-wow-delay=".5s">
									Bệnh Viện Mắt Green Pro là bệnh viện chuyên khoa hạng 1 và là tuyến trung ương về chuyên môn kỹ thuật với trang thiết bị hiện đại và được điều hành trong
									lĩnh vực chuyên sâu do các giáo sư, phó giáo sư, tiến sĩ, bác sĩ chuyên khoa đảm trách
								</p>
								<div class="button wow fadeInLeft" data-wow-delay=".7s">
									<a href="appointment.html" class="btn">Đặt lịch hẹn</a>
									
								</div>
							</div>
							<!-- End Hero Text -->
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-12">
						<div class="hero-image wow fadeInRight" data-wow-delay=".5s">
							<img src="assets/images/hero/02.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Single Slider -->
		<!-- Start Single Slider -->
		<div class="single-slider">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<div class="hero-text wow fadeInLeft" data-wow-delay=".3s">
							<!-- Start Hero Text -->
							<div class="section-heading">
								<h2>Chúng tôi chỉ cung cấp cho <br> sự chăm sóc tốt nhất cho đôi mắt của bạn</h2>
								<p>
									Bệnh Viện Mắt Green Pro là bệnh viện chuyên khoa hạng 1 và là tuyến trung ương về chuyên môn kỹ thuật với trang thiết bị hiện đại và được điều hành trong
									lĩnh vực chuyên sâu do các giáo sư, phó giáo sư, tiến sĩ, bác sĩ chuyên khoa đảm trách
								</p>
								<div class="button">
									<a href="appointment.html" class="btn">Đặt lịch hẹn</a>
									
								</div>
							</div>
							<!-- End Hero Text -->
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-12">
						<div class="hero-image">
							<img src="assets/images/hero/slider-2.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Single Slider -->
		<!-- Start Single Slider -->
		<div class="single-slider">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<div class="hero-text wow fadeInLeft" data-wow-delay=".3s">
							<!-- Start Hero Text -->
							<div class="section-heading">
								<h2>
									Giải pháp ưu việt<br />
									giúp bạn tỏa sáng.
								</h2>
								<p>
									Bệnh Viện Mắt Green Pro là bệnh viện chuyên khoa hạng 1 và là tuyến trung ương về chuyên môn kỹ thuật với trang thiết bị hiện đại và được điều hành trong
									lĩnh vực chuyên sâu do các giáo sư, phó giáo sư, tiến sĩ, bác sĩ chuyên khoa đảm trách
								</p>
								<div class="button">
									<a href="appointment.html" class="btn">Đặt lịch hẹn</a>
									
								</div>
							</div>
							<!-- End Hero Text -->
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-12">
						<div class="hero-image">
							<img src="assets/images/hero/slider-3.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Single Slider -->
	</div>
</section>
<!-- End Hero Area -->
<!-- Start Appointment Area -->
<section class="appointment">
	<div class="container">
		<!-- Appointment Form -->
		<div class="appointment-form">
			<div class="row">
				<div class="col-lg-6 col-12">
					<div class="appointment-title">
						<span>Appointment</span>
						<h2>Đặt Lịch Hẹn</h2>
						<p>
							Vui lòng liên hệ với nhân viên lễ tân thân thiện của chúng tôi với bất kỳ yêu cầu chung hoặc y tế nào. 
							Các bác sĩ của chúng tôi sẽ nhận hoặc trả lời bất kỳ cuộc gọi khẩn cấp nào.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12 p-0">
					<div class="appointment-input">
						<label for="name"><i class="lni lni-user"></i></label>
						<input type="text" name="name" id="name" placeholder="Họ tên">
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12 p-0">
					<div class="appointment-input">
						<label for="email"><i class="lni lni-envelope"></i></label>
						<input type="email" name="email" id="email" placeholder="Email của bạn">
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12 p-0">
					<div class="appointment-input">
						<label for="department"><i class="lni lni-notepad"></i></label>
						<select name="department" id="department">
							<option value="none" selected disabled>-- Lựa chọn --</option>
							<option value="none">Bắn mắt gói vip (60tr)</option>
							<option value="none">Bắn mắt gói tầm trung (40tr)</option>
							<option value="none">Bắn mắt gói thường (20tr)</option>
							<option value="none">Khoa mắt</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12 custom-padding">
					<div class="appointment-btn button">
						<button class="btn">Đặt Lịch</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Appointment Form -->
	</div>
</section>
<!-- End Appointment Area -->
<!-- Start About Area -->
<section class="about-us section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-12 col-12">
				<div class="content-left wow fadeInLeft" data-wow-delay=".3s">
					<img src="assets/images/about/about.png" alt="#">
					<a href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
					   class="glightbox video"><i class="lni lni-play"></i></a>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-12">
				<!-- content-1 start -->
				<div class="content-right wow fadeInRight" data-wow-delay=".5s">
					<span class="sub-heading">About</span>
					<h2>
						Hàng ngàn chuyên khoa mắt cho bất kỳ loại chẩn đoán nào
					</h2>
					<div class="row">
						<div class="col-lg-6 col-12">
							<ul class="list">
								<li><i class="lni lni-checkbox"></i>Tiến hành kiểm tra sức khỏe mắt</li>
								<li><i class="lni lni-checkbox"></i>Điều trị lasik tốt nhất</li>
								<li><i class="lni lni-checkbox"></i>Điều trị các bệnh nhẹ</li>
							</ul>
						</div>
						<div class="col-lg-6 col-12">
							<ul class="list">
								<li><i class="lni lni-checkbox"></i>Khám mắt đặc biệt</li>
								<li><i class="lni lni-checkbox"></i>Dịch vụ kính áp tròng</li>
								<li><i class="lni lni-checkbox"></i>Kiểm tra võng mạc đặc biệt</li>
							</ul>
						</div>
					</div>
					<div class="button">
						<a href="about-us.html" class="btn">Xem Thêm</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Area -->

<!-- Start Achievement Area -->
<section class="our-achievement section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-12">
				<div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
					<i class="lni lni-apartment"></i>
					<h3 class="counter"><span id="secondo1" class="countup" cup-end="1250">1250</span></h3>
					<p>Phòng bệnh viện</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-12">
				<div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
					<i class="lni lni-sthethoscope"></i>
					<h3 class="counter"><span id="secondo2" class="countup" cup-end="350">350</span></h3>
					<p>Bác sĩ chuyên khoa</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-12">
				<div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
					<i class="lni lni-emoji-smile"></i>
					<h3 class="counter"><span id="secondo3" class="countup" cup-end="2500">2500</span></h3>
					<p>Bệnh nhân hài lòng</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-12">
				<div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
					<i class="lni lni-certificate"></i>
					<h3 class="counter"><span id="secondo3" class="countup" cup-end="35">35</span></h3>
					<p>Số năm kinh nghiệm</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Achievement Area -->
<!-- Start Pricing Table Area -->
<section class="pricing-table section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>pricing</h3>
					<h2 class="wow fadeInUp" data-wow-delay=".4s">Giá Tiền Các Gói</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Single Table -->
				<div class="single-table wow fadeInUp" data-wow-delay=".2s">
					<!-- Table Head -->
					<div class="table-head">
						<h4 class="title">Basic</h4>
						<div class="price">
							<h2 class="amount">$45<span class="duration">/ Monthly</span></h2>
						</div>
					</div>
					<!-- End Table Head -->
					<!-- Table List -->
					<ul class="table-list">
						<li>Kiểm tra thường xuyên</li>
						<li>Hỗ trợ 24/24</li>
						<li>100 Văn bản & Điều trị</li>
						<li>Khám sức khỏe định kỳ</li>
					</ul>
					<!-- End Table List -->
					<!-- Table Bottom -->
					<div class="button">
						<a class="btn" href="javascript:void(0)">Liên Hệ</a>
					</div>
					<!-- End Table Bottom -->
				</div>
				<!-- End Single Table-->
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Single Table -->
				<div class="single-table wow fadeInUp" data-wow-delay=".4s">
					<!-- Table Head -->
					<div class="table-head">
						<h4 class="title">Advance</h4>
						<div class="price">
							<h2 class="amount">$204<span class="duration">/ Monthly</span></h2>
						</div>
					</div>
					<!-- End Table Head -->
					<!-- Table List -->
					<ul class="table-list">
						<li>Kiểm tra thường xuyên</li>
						<li>Hỗ trợ 24/24</li>
						<li>100 Văn bản & Điều trị</li>
						<li>Khám sức khỏe định kỳ</li>
					</ul>
					<!-- End Table List -->
					<!-- Table Bottom -->
					<div class="button">
						<a class="btn" href="javascript:void(0)">Liên Hệ</a>
					</div>
					<!-- End Table Bottom -->
				</div>
				<!-- End Single Table-->
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Single Table -->
				<div class="single-table wow fadeInUp" data-wow-delay=".6s">
					<!-- Table Head -->
					<div class="table-head">
						<h4 class="title">Premium</h4>
						<div class="price">
							<h2 class="amount">$355<span class="duration">/ Monthly</span></h2>
						</div>
					</div>
					<!-- End Table Head -->
					<!-- Table List -->
					<ul class="table-list">
						<li>Kiểm tra thường xuyên</li>
						<li>Hỗ trợ 24/24</li>
						<li>100 Văn bản & Điều trị</li>
						<li>Khám sức khỏe định kỳ</li>
					</ul>
					<!-- End Table List -->
					<!-- Table Bottom -->
					<div class="button">
						<a class="btn" href="javascript:void(0)">Liên Hệ</a>
					</div>
					<!-- End Table Bottom -->
				</div>
				<!-- End Single Table-->
			</div>
		</div>
	</div>
</section>
<!--/ End Pricing Table Area -->