@page
@model ResetPasswordModel
@{ ViewData["Title"] = "Reset password";
	Layout = "_Layout"; }
<div class="breadcrumbs overlay">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-8 offset-lg-2 col-md-12 col-12">
				<div class="breadcrumbs-content">
					<h1 class="page-title">Bệnh Viện Mắt Hàng Đầu</h1>
				</div>
				<ul class="breadcrumb-nav">
					<li><a href="index.html">Home</a></li>
					<li>Quên mật khẩu</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<section class="appointment page section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-12 col-12">

				<div class="appointment-form">
					<div class="row">
						<div class="col-12">
							<div class="appointment-title">
								<h2>Xác thực mật khẩu mới</h2>

							</div>
						</div>
					</div>
					<div class="row">
						<form method="post">
							<div asp-validation-summary="All" class="text-danger"></div>
							<input asp-for="Input.Code" type="hidden" />
							<div class="col-lg-6 col-md-6 col-12 p-0">
								<div class="appointment-input">
									<label for="email"><i class="lni lni-envelope"></i></label>
									<input type="email" asp-for="Input.Email" placeholder="Nhập Email của bạn">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12 p-0">
								<div class="appointment-input">
									<label for="pass"><i class="lni lni-lock"></i></label>
									<input asp-for="Input.Password" type="password" placeholder="Mật khẩu mới">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12 p-0">
								<div class="appointment-input">
									<label for="pass"><i class="lni lni-lock"></i></label>
									<input asp-for="Input.ConfirmPassword" placeholder="Nhập lại mật khẩu mới" type="password">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12 p-0">
								<div class="appointment-btn button">
									<button class="btn">Xác thực khôi phục</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

@*<div class="container">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<form method="post"
				  class="form-horizontal">
				<div asp-validation-summary="All" class="text-danger"></div>
				<input asp-for="Input.Code" type="hidden" />
				<div class="row">
					<div class="input-field col s12">
						<input asp-for="Input.Email" type="email" class="validate">
						<label asp-for="Input.Email" data-error="wrong" data-success="right">
							Email
						</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input asp-for="Input.Password" type="password" class="validate">
						<label asp-for="Input.Password" data-error="wrong" data-success="right">
							Password
						</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input asp-for="Input.ConfirmPassword" type="password" class="validate">
						<label asp-for="Input.ConfirmPassword" data-error="wrong" data-success="right">
							Confirm Password
						</label>
					</div>
				</div>
				<div class="row center">
					<button class="btn waves-effect waves-light" type="submit">
						Submit
						<i class="material-icons right">Reset</i>
					</button>
				</div>
				<div class="row center">
					<a asp-action="ForgotPassword">Forgot your password?</a>
				</div>
			</form>
		</div>
	</div>
</div>*@

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
