<!-- Start Footer Area -->
<footer class="footer overlay">
	<!-- Start Footer Top -->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="cta">
						<h3>Cần giúp đỡ?</h3>
						<p>
							Vui lòng liên hệ với nhân viên lễ tân thân thiện của chúng tôi với bất kỳ yêu cầu y tế nào, hoặc
							gọi <a href="javascript:void(0)">+84 09999999999</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="form">
						<h3>Theo dõi bản tin</h3>
						<form action="#" method="get" target="_blank" class="newsletter-form">
							<input name="EMAIL" placeholder="Email của bạn" type="email">
							<div class="button">
								<button class="btn">Theo dõi<span class="dir-part"></span></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Top -->
	<!-- Start Footer Middle -->
	<div class="footer-middle">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer f-about">
						<div class="logo">
							<a href="index.html">
								<img src="~/assets/images/logo/white-logo.svg" alt="#">
							</a>
						</div>
						<p>
							Làm cho khách hàng hài lòng về đôi mắt của mình
						</p>
						<ul class="social">
							<li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
							<li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
							<li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
							<li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
							<li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer f-link">
						<h3>Liên kết hữu ích</h3>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<ul>
									<li><a href="javascript:void(0)">Liên hệ</a></li>
									<li><a href="javascript:void(0)">Team</a></li>
									<li><a href="javascript:void(0)">Trước sau</a></li>
									<li><a href="javascript:void(0)">Máy tính chi phí</a></li>
									<li><a href="javascript:void(0)">Giờ làm việc</a></li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<ul>
									<li><a href="javascript:void(0)">Đặt lịch</a></li>
									<li><a href="javascript:void(0)">Kinh nghiệm</a></li>
									<li><a href="javascript:void(0)">Thời gian biểu</a></li>
									<li><a href="javascript:void(0)">Phòng</a></li>
									<li><a href="javascript:void(0)">Về chúng tôi</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer opening-hours">
						<h3>Giờ mở cửa</h3>
						<ul>
							<li>
								<span class="day"><i class="lni lni-timer"></i> Thứ Hai - Thứ Ba</span>
								<span class="time">08:30 - 18:30</span>
							</li>
							<li>
								<span class="day"><i class="lni lni-timer"></i> Thứ tư - Thứ Năm</span>
								<span class="time">08:30 - 18:30</span>
							</li>
							<li>
								<span class="day"><i class="lni lni-timer"></i> Thứ Sáu</span>
								<span class="time">08:30 - 18:30</span>
							</li>
							<li>
								<span class="day"><i class="lni lni-timer"></i> Thứ Bảy</span>
								<span class="time">08:30 - 18:30</span>
							</li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer last f-contact">
						<h3>Liên hệ</h3>
						<ul>
							<li>
								<i class="lni lni-map-marker"></i> 23 Biden, Donal Trum, ELon Musk
							</li>
							<li><i class="lni lni-phone"></i> Tel. +(123) 1800-567-8990 </li>
							<li><i class="lni lni-envelope"></i> nhatloc200@gmail.com</li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Footer Middle -->
	<!-- Start Footer Bottom -->
	<div class="footer-bottom">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-12">
						<div class="content">
							<p class="copyright-text">
								Cover by Nguyễn Nhật Lộc - Sieuthicode.Net
							</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Middle -->
</footer>
<!--/ End Footer Area -->
<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
	<i class="lni lni-chevron-up"></i>
</a>